
*{
	margin:0px;
	padding:0px;
	scroll-behavior: smooth;
}
body{
	font-family:Raleway;
}

/* RESET CSS */
.psd-header-part{
	background:#87509C;
	
}


.nav-logo h2{
	font-family:Raleway;
	font-weight:bold;
	color:#fff;
	line-height:100px;
	font-size:33px;
	
}


.menu-coustom{
	color:#fff !important;
	padding:5px 11px;
	font-weight:bold;
	font-size:18px;
}
.menu-coustom li a:hover{
	background:#643a79;
	border-radius:3px;
	cursor:pointer;
}
.header-content {
	width:80%;
	margin:0px auto;
	text-align:center;
	height:395px;
	overflow:hidden;
}
.header-content h2{
	padding:67px 36px 12px 36px;
	text-align:center;
	font-family:TitilliumWeb;
	color:#fff;
	font-size:30px;
}
.header-content a{
	background:#EB7D4B;
	line-height:100px;
	padding: 12px 30px;
	color:#fff;
	font-family:TitilliumWeb;
	font-size:13px;
	border-radius: 7px;
}

/* HEADER CSS END */
.psd-services-section{
	background:#17C2A4;
	height: 511px;
}
.psd-services-section:after{
	content:' ';
	display:block;
	clear:both;
}
.psd-services-section-heading{
	text-align:center;
}
.psd-services-section-heading h2{
	font-family:TitilliumWeb;
	color:#fff;
	padding-top:50px;
}
.psd-services-section h2:after{
	content:' ';
	display:block;
	height: 4px;
	background:#14A58C;
    width: 89px;
    margin: auto;
    margin-top: 16px;
}
.psd-services-section h4{
	color: #fff;
    font-family: TitilliumWeb;
    font-weight: 500;
    width: 497px;
    margin: 22px auto;
	font-size:18px;
}
.section-colum1,
.section-colum2,
.section-colum3,
.section-colum4{
	float:left;
	width:23%;
	text-align:center;
	color:#fff;
	padding-right:18px;
}
.section-colum1 img,
.section-colum2 img,
.section-colum3 img,
.section-colum4 img{
	width: 100%;
    height: 157px;
}
.section-colum1 h3,
.section-colum2 h3,
.section-colum3 h3,
.section-colum4 h3{
	margin-top:12px;
	margin-bottom:12px;
}


/* SERVICE SECTION CSS END */


.team-section-content{
	background:#E7F1F8;
	height:774px;
}
.team-section-content:after{
	content:' ';
	display:block;
	clear:both;
}
.team-section-content-heading{
	text-align:center;
}
.team-section-content-heading h2{
	font-family: TitilliumWeb;
    color: #3C4761;
    padding-top: 50px;
	
}
.team-section-content-heading h2:after{
	content:' ';
	display:block;
	height:4px;
	background:#14A58C;
	width: 73px;
    margin: 19px auto;
	
}
.team-section-content-heading h4{
	color: #424D66;
    font-family: TitilliumWeb;
    font-weight: 400;
    width: 589px;
    margin: 22px auto;
    font-size: 18px;
}
.team-section-colum1,
.team-section-colum2,
.team-section-colum3,
.team-section-colum4{
	width:23%;
	float:left;
	text-align:center;
	padding-right:18px;
}
.team-section-colum1 img,
.team-section-colum2 img,
.team-section-colum3 img,
.team-section-colum4 img{
	width: 218px;
    height: 292px;
    border-radius: 7px;
	margin-top: 26px;
}
.team-section-colum1 h2,
.team-section-colum2 h2,
.team-section-colum3 h2,
.team-section-colum4 h2{
	color:#3C4761;
	padding-top:12px;
	font-family: TitilliumWeb;
}
.team-section-colum1 h5,
.team-section-colum2 h5,
.team-section-colum3 h5,
.team-section-colum4 h5{
	color: #c0c4ce;
    padding-top: 1px;
    font-family: TitilliumWeb;
}
.team-section-colum1 p,
.team-section-colum2 p,
.team-section-colum3 p,
.team-section-colum4 p{
	color: #646567;
    padding-top: 11px;
    font-family: TitilliumWeb;
}

.team-section-colum1 ul li,
.team-section-colum2 ul li,
.team-section-colum3 ul li,
.team-section-colum4 ul li{
	display:inline-block;
}
.team-section-colum1 ul li a img,
.team-section-colum2 ul li a img,
.team-section-colum3 ul li a img,
.team-section-colum4 ul li a img{
	width: 38px;
    height: 38px;
    padding-right: 10px;
}



/*TEAM SECTION CSS END */



.skill-section-content{
	background:#fff;
	height: 538px;
}
.radial-progress h2{
	color:#3C4761;
}
.skill-section-content:after{
	content:' ';
	display:block;
	clear:both;
}
.sikll-section-progress{
    width:873px;
	margin:auto;
	
}
.skill-section-content-heading{
	text-align:center;
}
.skill-section-content-heading h2{
	font-family: TitilliumWeb;
    color: #3C4761;
    padding-top: 50px;
	
}
.skill-section-content-heading h2:after{
	content:' ';
	display:block;
	height:4px;
	background:#14A58C;
	width: 73px;
    margin: 19px auto;
	
}
.skill-section-content-heading h4{
	color: #424D66;
    font-family: TitilliumWeb;
    font-weight: 400;
    width: 589px;
    margin: 22px auto;
    font-size: 18px;
}

.progress-colum1,
.progress-colum2,
.progress-colum3,
.progress-colum4{
	
	width:22%;
	float:left;
	padding:9px;
	text-align:center;
	
}

/*** RADIAL PROGRESS ***/
/* Circumference = 2πr */
/* π = 3.1415926535898 */
/* r = 35 */

svg.radial-progress1, 
svg.radial-progress2, 
svg.radial-progress3, 
svg.radial-progress4 {
	height: auto;
	max-width: 200px;
	padding: 1em;
	transform: rotate(-90deg);
	width: 100%;
}

svg.radial-progress1 circle
svg.radial-progress2 circle
svg.radial-progress3 circle
svg.radial-progress4 circle
{
	fill: rgba(0,0,0,0);
	stroke: #fff;
	stroke-dashoffset: 219.91148575129; /* Circumference */
	stroke-width: 10;
}

svg.radial-progress1 circle.incomplete, 
svg.radial-progress2 circle.incomplete,
svg.radial-progress3 circle.incomplete, 
svg.radial-progress4 circle.incomplete 

{ opacity: 0.25; }

svg.radial-progress1 circle.complete,
svg.radial-progress2 circle.complete,
svg.radial-progress3 circle.complete,
svg.radial-progress4 circle.complete
{ stroke-dasharray: 219.91148575129; /* Circumference */ }

svg.radial-progress1 text,
svg.radial-progress2 text,
svg.radial-progress3 text,
svg.radial-progress4 text
{
	fill: #3C4761;
	font: 400 1em/1 'Oswald', sans-serif;
	text-anchor: middle;
}
.progress-colum1 svg.radial-progress1 h3,
.progress-colum2 svg.radial-progress2 h3,
.progress-colum3 svg.radial-progress3 h3,
.progress-colum4 svg.radial-progress4 h3

{
	color:#3C4761;
	font-size:48px;
}

.radial-progress3 circle{
	stroke: #a2ed56;
}






/*** COLORS ***/
/* Primary */

svg.radial-progress:nth-child(6n+1) circle { stroke: #a2ed56; }

/* Secondary */

svg.radial-progress:nth-child(6n+2) circle { stroke: #83e4e2; }

/* Tertiary */

svg.radial-progress:nth-of-type(9n+3) circle { stroke: #fd6470; }

/* Quaternary */

svg.radial-progress:nth-of-type(9n+4) circle { stroke: #fca858; }

/* Quinary */

svg.radial-progress:nth-of-type(6n+5) circle { stroke: #fddc32; }



/* SKILL SECTION CSS END */



.portfoloio-section-content{
	background:#FFDD99;
	height: 1100px;
}
.portfoloio-section-content:after{
	content:' ';
	display:block;
	clear:both;
}
.portfoloio-section-content-heading{
	text-align:center;
}
.portfoloio-section-content-heading h2{
	font-family: TitilliumWeb;
    color: #3C4761;
    padding-top: 50px;
}
.portfoloio-section-content-heading h2:after{
	content:' ';
	display:block;
	height:4px;
	background:#14A58C;
	width: 73px;
    margin: 9px auto;
	
}
.portfoloio-section-content-heading h4{
	color: #424D66;
    font-family: TitilliumWeb;
    font-weight: 400;
    width: 589px;
    margin: 22px auto;
    font-size: 18px;
	padding-bottom: 14px;
}
.portfoloio-section-content-menu{
	text-align:center;
}
.portfoloio-section-content-menu ul li{
	display:inline-block;
}
.portfoloio-section-content-menu ul li a{
	font-family: TitilliumWeb;
	color:#3C4761;
	background:#EBC985;
	padding:10px;
	border-radius:3px;
	font-weight:bold;
	margin:10px 8px 10px 7px;
}
.portfoloio-section-content-menu ul li a:hover{
	background:#fff;
}
.portfoloio-section-content-colum1,
.portfoloio-section-content-colum2{
	width:48%;
	float:left;
    margin-top: 52px;
	padding-right:19px;
	text-align:center;
}
.portfoloio-section-content-sub-cloum1 img,
.portfoloio-section-content-sub-cloum2 img,
.portfoloio-section-content-sub-cloum3 img,
.portfoloio-section-content-sub-cloum4 img{
	width: 480px;
}
.portfoloio-section-content-sub-cloum1 p,
.portfoloio-section-content-sub-cloum2 p,
.portfoloio-section-content-sub-cloum3 p,
.portfoloio-section-content-sub-cloum4 p{
	font-size:22px;
	font-family: TitilliumWeb;
	font-weight: 500;
    color: #564a4a;
    padding: 6px 0px 68px;
}
.portfoloio-section-content-button{
	text-align:center;
}
.portfoloio-section-content-button a{
	background:#17C2A4;
	padding:14px 26px;
	color:#fff;
	font-weight:bold;
	border-radius:4px;
	box-shadow: 0px 2px 1px #a07c7c;
}

/* ABOUT SECTION CSS END */

.about-section-content{
	background:#D74680;
	
}
.about-section-content:after{
	content:' ';
	display:block;
	clear:both;
}
.about-section-content-heading{
	text-align:center;
}
.about-section-content-heading h2{
	color:#fff;
	font-family:TitilliumWeb;
	padding-top:50px;
	letter-spacing: 4px;
	padding-bottom:5px;
}
.about-section-content-heading h2:after{
	content:' ';
	display:block;
	height:4px;
	background:#a51443;
	width: 73px;
    margin: 16px auto;
}
.about-section-content-heading h4{
	color:#e0d5d5;
	padding-top: 5px;
}
.about-section-content-colum1,
.about-section-content-colum2{
	width:48%;
	float:left;
	padding-top:60px;
	padding-right:19px;
}
.about-section-content-sub-colum1 img,
.about-section-content-sub-colum2 img,
.about-section-content-sub-colum3 img,
.about-section-content-sub-colum4 img{
	border-radius: 100%;
    height: 100px;
    width: 100px;
    display: inline-block;
    float: left;
}
.about-section-content-sub-colum1 p,
.about-section-content-sub-colum2 p,
.about-section-content-sub-colum3 p,
.about-section-content-sub-colum4 p{
	padding-left: 14px;
    float: left;
    width: 300px;
    padding-top: 21px;
	color:#eae0e0;
	font-size: 16px;
}
.about-section-content-sub-colum1 h2,
.about-section-content-sub-colum2 h2,
.about-section-content-sub-colum3 h2,
.about-section-content-sub-colum4 h2{
	padding-left: 14px;
    float: left;
    width: 300px;
    padding-top: 21px;
	color:#fff;
}
.about-section-content-sub-colum1 h5,
.about-section-content-sub-colum2 h5,
.about-section-content-sub-colum3 h5,
.about-section-content-sub-colum4 h5{
	padding-left: 123px;
    float: left;
    width: 249px;
    padding-top: 7px;
	padding-bottom:60px;
	color:#F5BD93;
}

/*?ABOUT SECTION CSS END */

.message-section-content{
	background:#3C5499;
	height:457px;
}
.message-section-content:after{
	content:' ';
	display:block;
	clear:both;
}
.message-section-content-heading{
	text-align:center;
}
.message-section-content-heading h2{
	color:#fff;
	font-family:TitilliumWeb;
	letter-spacing:9px;
	padding-top:50px;
}
.message-section-content-heading h2:after{
	content:' ';
	display:block;
	height:4px;
	background:#ad6b80;
	width: 83px;
    margin: auto;
    margin-top: 15px;
    
}
.message-section-content-heading h4{
	color:#fff;
	font-family:TitilliumWeb;
	font-size:14px;
	font-weight:normal;
	padding-top:20px;
	
}

.message-box-area{
	width: 677px;
    margin: auto;
	margin-top:40px;
}
.message-box-name{
	width:49%;
	float:left;
}
.message-box-email{
	width:49%;
	float:right;
}
.message-box-name input,
.message-box-email input{
	width:100%;
	padding:12px 20px;
	border-radius:5px;
	border: 1px solid #3C5499;
	background:#273A71;
	
}
.message-box-name input::placeholder,
.message-box-email input::placeholder{
	color:#d5d8e2;
}
.message-box-text input{
	width:100%;
	padding:12px 0px 100px 20px;
	margin-top:20px;
	border-radius:5px;
	border: 1px solid #3C5499;
	background:#273A71;
	
}
.message-box-text input::placeholder{
	color:#d5d8e2;
}
.message-box-submit{
	text-align:center;
	margin-top:25px;
}
.message-box-submit input{
	padding:10px 15px;
	background:#30BAE7;
	color:#eeeff3;
	border:1px solid #3C5499;
	border-radius:4px;
}


/*MESSAGE SECTION CSS END */

.footer-section{
	background:#344B8E;
	height: 66px;
	
}
.footer-section:after{
	content:' ';
	display:block;
	clear:both;
}
.copyright{
	width:40%;
	float:left;
	padding-top:27px;
}
.copyright p{
	color:#fff;
}
.social-menu{
	width:60%;
	float:right;
}
.social-menu ul{
	padding-top:27px;
}
.social-menu ul li{
	display:inline-block;
}
.social-menu ul li a{
	padding:21px;
	color:#fff;
	font-weight:bold;
}
.social-menu ul li a:hover{
	color:#b9b9b9;
}